#promocion
	position relative
	overflow hidden
	.info-serv
		padding 50px
		text-align justify
		background $color
		.title
			position relative
			text-transform uppercase
			padding-bottom 10px
			&:after
				content ""
				position absolute
				bottom 0
				display block
				width 200px
				height 2px
				background lighten($color, 50%)
		p
			margin 20px 0 30px
			line-height 2
		ul
			margin 0
			padding 0
			list-style none
			li
				font-size 18px
				margin 10px 0 20px
				padding-left 1em
				&:before
					content "♣   "
					color lighten($color, 50%)
	.info-slides
		position relative
		height 100px

