/**********************************************
		SERVICIOS
***********************************************/
section
	padding $padding-section 0
	
	header
		text-align center
		font-weight bold
		text-transform uppercase
		margin-bottom 30px
		&:after
			content ""
			display block
			width 150px
			height 2px
			margin 0 auto
			background-color $color1
	
	article
		text-align center
		.title
			font-weight bold
			text-transform lowercase
			margin 10px 0

section#servicios, section#galeria  
	background-color $color3
	
section#galeria
	img
		margin-bottom 20px

ul.contacto
	font-family 'Alegreya Sans', sans-serif
	padding-left 10px
	list-style none
	i
		font-weight bold