$tam-serv = 500px

section
	.servicio
		position relative
		text-align center
		.img-item
			position relative
			width 150px
			height 150px
			box-sizing border-box
			overflow hidden
			border-radius 50% 0 50% 0
			margin 0 auto
			border solid 3px $color
			z-index 10
			img
				width 100%
				display block
				transition all .3s
				z-index 1
				&:hover
					transform scale(1.3) rotate(-10deg)
					-webkit-filter brightness(1.3) contrast(1.2) grayscale(0) hue-rotate(0deg) invert(0.1) saturate(1.8) sepia(0)			
		h3
			text-transform uppercase