//Tabla de precios
.pricing-table
	margin-bottom 30px
	padding-bottom 20px
	text-align center
		
	.pricing-title
		color $blanco
		margin 0
		padding 20px 0
		font-size 1.5em
		text-transform uppercase
		background-color $color1
		
	.pricing-price
		color #fff
		padding 20px 0
		font-size 3em
		font-weight bold	
		background-color $color3
		&:before
			content "$  "
			display inline-block
			font-size 70%
	
	ul.pricing-list
		padding-left 0
		list-style-type none
		li
			padding 12px 8px
			&:nth-child(2n)
				background-color $color4

.pricing-table.recomendado 
	.pricing-title
		color $blanco !important
		background-color $color2 !important
				
		









