@import url(https://fonts.googleapis.com/css?family=Lobster)


$color = #880E4F
$colorrgb = 136,14,79
$fondo = #212121

$section = 70px


//aliniar verticalmente
.align-vertical
	display -webkit-box
	-webkit-box-orient vertical
	-webkit-box-pack center
	-webkit-box-align center
	display -moz-box
	-moz-box-orient vertical
	-moz-box-pack center
	-moz-box-align center
	display -ms-flexbox
	-ms-flex-align center
	-ms-flex-pack center
	display -webkit-flex
	-webkit-align-items center
	-webkit-justify-content center
	display -moz-flex
	-moz-align-items center
	-moz-justify-content center
	display flex
	align-items center
	justify-content center