//colores
$color1 = #C2178C
$color2 = #1D2E59
$color3 = #38C1D9
$color4 = #BACAE8
$color5 = #E0C551
$blanco = #ffffff
$fondo = #ECF0F1


/**********************************************
		SECCIONES
***********************************************/

$padding-section = 70px