extends layout

block content
	section#servicios
		.container
			.row
				.col-xs-12
					header
						h2.title servicios
						p.subtitle Dolorem magnam libero ut maiores atque perspiciatis deserunt eum.
			.row
				article.col-xs-12.col-sm-6.col-lg-3
					img(data-src="holder.js/200x200").img-circle
					h3.title decoraciones
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem magnam libero ut maiores atque perspiciatis deserunt eum. 
				article.col-xs-12.col-sm-6.col-lg-3
					img(data-src="holder.js/200x200").img-circle
					h3.title animaciones
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem magnam libero ut maiores atque perspiciatis deserunt eum. 
				article.col-xs-12.col-sm-6.col-lg-3
					img(data-src="holder.js/200x200").img-circle
					h3.title fiestas
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem magnam libero ut maiores atque perspiciatis deserunt eum. 
				article.col-xs-12.col-sm-6.col-lg-3
					img(data-src="holder.js/200x200").img-circle
					h3.title eventos
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem magnam libero ut maiores atque perspiciatis deserunt eum.

	section#planes.container
		.row
			.col-xs-12
				header
					h2.title planes
					p.subtitle Dolorem magnam libero ut maiores atque perspiciatis deserunt eum.
		.row
				.col-xs-12.col-sm-6.col-lg-3
					.pricing-table
						p.pricing-title Lorem ipsum
						p.pricing-price 10
						ul.pricing-list
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
						.table-buy
							button(class="btn btn-primary btn-sm") Contratar
				.col-xs-12.col-sm-6.col-lg-3
					.pricing-table.recomendado
						p.pricing-title Lorem ipsum
						p.pricing-price 10
						ul.pricing-list
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit	
						.table-buy
							button(class="btn btn-primary btn-sm") Contratar
				.col-xs-12.col-sm-6.col-lg-3
					.pricing-table
						p.pricing-title Lorem ipsum
						p.pricing-price 10
						ul.pricing-list
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
						.table-buy
							button(class="btn btn-primary btn-sm") Contratar
				.col-xs-12.col-sm-6.col-lg-3
					.pricing-table
						p.pricing-title Lorem ipsum
						p.pricing-price 10
						ul.pricing-list
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
							li consectetur adipisicing elit
						.table-buy
							button(class="btn btn-primary btn-sm") Contratar

	section#galeria
		.container
			.row
				.col-xs-12
					header
						h2.title galeria
						p.subtitle Dolorem magnam libero ut maiores atque perspiciatis deserunt eum.
			.row
				.col-xs-12
					ul.text-center.list-inline
						li: a(href="#") all /
						li: a(href="#") eventos / 
						li: a(href="#") fiestas / 
						li: a(href="#") animaciones
			.row
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")
				.col-xs-12.col-sm-6.col-lg-3: img(data-src="holder.js/100px200")

	section#contacto.container
		.row
			.col-xs-12
				header
					h2.title contacto
					p.subtitle Dolorem magnam libero ut maiores atque perspiciatis deserunt eum.
		.row
			.col-xs-12.col-md-8
				form
					.row
						.col-xs-12.col-sm-6
							.form-group
								label Nombre
								input(type="text" class="form-control" id="nombre" placeholder="Juan Peréz")
						.col-xs-12.col-sm-6
							.form-group
								label Correo
								input(type="email" class="form-control" id="nombre" placeholder="name@dominio.com")
					.form-group
						label Comentario
						textarea(type="email" class="form-control" id="nombre" rows="3")
					button.btn.btn-primary(type="submit") Enviar
			.col-xs-12.col-md-4
				aside
					h3 Información
					ul.contacto
						li: i.fa.fa-envelope-o 
							| Email: info@decoracionesgeneralesfc.com
						li: i.fa.fa-phone 
							| Tél: 534 - 1212
						li: i.fa.fa-mobile 
							| Cél: 6452 - 1312
				aside
					h3 Redes Sociales
					ul.list-inline
						li: img(src="http://lorempixel.com/20/20")
						li: img(src="http://lorempixel.com/20/20")
						li: img(src="http://lorempixel.com/20/20")
						li: img(src="http://lorempixel.com/20/20")