extends layout

block content
	//---------------------------------------------------------------------------------
	//-                        PORTADA
	//---------------------------------------------------------------------------------
	header#portada.align-vertical
		.__bg-video.hidden-xs.hidden-sm
			video(autoplay loop muted)
				source(src="video.mp4")
		.container.text-center
			.row
				.col-xs-12
					h1.__titulo
						| Bienvenidos 
						br
						| a 
						br
						| DecoracionesGeneralesFC
					h3.__subtitulo 
						| Hacemos tus ideas realidad.

	//---------------------------------------------------------------------------------
	//-                        SERVICIOS
	//---------------------------------------------------------------------------------
	section#servicios
		.container
			.head-section
				h2.title servicios
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				//-Servicio1
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Decoraciones
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='/decoraciones', role='button') ver más				
				
				//-Servicio2
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Eventos y fiestas
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='/eventosyfiestas', role='button') ver más			

				//-Servicio3
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Animaciones y presentaciones
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium 
						a.btn.btn-primary(href='/animaciones', role='button') ver más			
				
				//-Servicio4
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Diseño gráfico
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='/disenografico', role='button') ver más		

	//---------------------------------------------------------------------------------
	//-                        PROMOCION
	//---------------------------------------------------------------------------------
	section#promocion
		.container-fluid
			.row
				.col-xs-12.col-md-6.np
					article.info-serv
						h2.title Lorem ipsum dolor sit amet
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						ul
							li Nulla, quo commodi dolores neque praesentium
							li Nulla, quo commodi dolores neque praesentium
							li Nulla, quo commodi dolores neque praesentium
				.col-xs-12.col-md-6.np
					article.info-slides
						#slides
							img(src="http://lorempixel.com/900/900/")
							img(src="http://lorempixel.com/900/900/")
							img(src="http://lorempixel.com/900/900/")

	//---------------------------------------------------------------------------------
	//-                        GALERIA
	//---------------------------------------------------------------------------------
	section#galeria
		.container
			.head-section
				h2.title galeria
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")
				.col-xs-3: .img-item: img(src="http://lorempixel.com/400/400")

	//---------------------------------------------------------------------------------
	//-                        CONTACTO
	//---------------------------------------------------------------------------------
	section#contacto
		.container
			.head-section
				h2.title contacto
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-xs-4
					ul.contacto
						li
							span.glyphicon.glyphicon-globe
							b dirección: 
							| Panamá, Ciudad de Panamá
						li
							span.glyphicon.glyphicon-phone
							b teléfonos:
							| +507 6889-0247 / +507 6706-6033
						li
							span.glyphicon.glyphicon-envelope
							b correo:
							|	info@decoracionesgeneralesfc.com
				.col-xs-8
					form.form
						.form-group
							label(for="nombre").sr-only nombre
							input(type="text" placeholder="Nombre").form-control
						.form-group
							label(for="Correo").sr-only correo
							input(type="email" placeholder="Correo").form-control
						.form-group
							textarea(rows="3").form-control
					button(type="submit").btn.btn-primary Enviar