extends layout

block content
	//---------------------------------------------------------------------------------
	//-                        PORTADA
	//---------------------------------------------------------------------------------
	header#portada.align-vertical
		.bg-video.hidden-xs.hidden-sm
			video(autoplay loop muted).bg-video__video
				source(src="video.mp4")
		.container.text-center
			.row
				.col-xs-12
					h1.titulo
						| Bienvenidos 
						br
						| a 
						br
						|DecoracionesGeneralesFC
					h3.subtitulo 
						| Lorem ipsum dolor sit amet consectetur adipisicing elit.

	//---------------------------------------------------------------------------------
	//-                        SERVICIOS
	//---------------------------------------------------------------------------------
	section#servicios
		.container
			.head-section
				h2.title servicios
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				//-Servicio1
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Decoraciones
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='#', role='button') ver más				
				
				//-Servicio2
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Eventos y fiestas
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='#', role='button') ver más			

				//-Servicio3
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Animaciones y presentaciones
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='#', role='button') ver más			
				
				//-Servicio4
				.col-lg-3
					article.servicio
						.img-item: img(src="http://lorempixel.com/150/150")
						h3 Diseño gráfico
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						a.btn.btn-primary(href='#', role='button') ver más		

	//---------------------------------------------------------------------------------
	//-                        PROMOCION
	//---------------------------------------------------------------------------------
	section#promocion
		.container-fluid
			.row
				.col-xs-12.col-md-6.np
					article.info-serv
						h2.title Lorem ipsum dolor sit amet
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						ul
							li Nulla, quo commodi dolores neque praesentium
							li Nulla, quo commodi dolores neque praesentium
							li Nulla, quo commodi dolores neque praesentium
				.col-xs-12.col-md-6.np
					article.info-slides
						#slides
							img(src="http://lorempixel.com/900/900/")
							img(src="http://lorempixel.com/900/900/")
							img(src="http://lorempixel.com/900/900/")

	//---------------------------------------------------------------------------------
	//-                        GALERIA
	//---------------------------------------------------------------------------------
	section#galeria
		.container
			.head-section
				h2.title galeria
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-xs-3: .img-item: img(src="images/img1.jpg")
				.col-xs-3: .img-item: img(src="images/img2.jpg")
				.col-xs-3: .img-item: img(src="images/img3.jpg")
				.col-xs-3: .img-item: img(src="images/img4.jpg")
				.col-xs-3: .img-item: img(src="images/img5.jpg")
				.col-xs-3: .img-item: img(src="images/img6.jpg")
				.col-xs-3: .img-item: img(src="images/img7.jpg")
				.col-xs-3: .img-item: img(src="images/img8.jpg")

	//---------------------------------------------------------------------------------
	//-                        CONTACTO
	//---------------------------------------------------------------------------------
	section#contacto
		.container
			.head-section
				h2.title contacto
				p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			.row
				.col-xs-4
					ul.contacto
						li
							span.glyphicon.glyphicon-globe
							b dirección: 
							| Panamá, Panamá, Ave. Balboa, calle 15, edf. 34
						li
							span.glyphicon.glyphicon-phone
							b teléfonos:
							|	6999-9999 / 299-999
						li
							span.glyphicon.glyphicon-envelope
							b correo:
							|	consectetur adipisicing
				.col-xs-8
					form.form
						.form-group
							label(for="nombre").sr-only nombre
							input(type="text" placeholder="Nombre").form-control
						.form-group
							label(for="Correo").sr-only correo
							input(type="email" placeholder="Correo").form-control
						.form-group
							textarea(rows="3").form-control
					button(type="submit").btn.btn-primary Enviar