section#contacto
	.container
		.head-section
			h2.title contacto
			p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.col-xs-4
				ul.contacto
					li						
						span.glyphicon.glyphicon-globe
						b dirección: 
						| Panamá, Panamá, Ave. Balboa, calle 15, edf. 34
					li
						span.glyphicon.glyphicon-phone
						b teléfonos:
						|	6999-9999 / 299-999
					li
						span.glyphicon.glyphicon-envelope
						b correo:
						|	consectetur adipisicing
			.col-xs-8
				form.form
					.form-group
						label(for="nombre").sr-only nombre
						input(type="text" placeholder="Nombre").form-control
					.form-group
						label(for="Correo").sr-only correo
						input(type="email" placeholder="Correo").form-control
					.form-group
						textarea(rows="3").form-control
				button(type="submit").btn.btn-primary Enviar