section#galeria
	.container
		.head-section
			h2.title galeria
			p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.col-xs-3: .img-item: img(src="images/img1.jpg")
			.col-xs-3: .img-item: img(src="images/img2.jpg")
			.col-xs-3: .img-item: img(src="images/img3.jpg")
			.col-xs-3: .img-item: img(src="images/img4.jpg")
			.col-xs-3: .img-item: img(src="images/img5.jpg")
			.col-xs-3: .img-item: img(src="images/img6.jpg")
			.col-xs-3: .img-item: img(src="images/img7.jpg")
			.col-xs-3: .img-item: img(src="images/img8.jpg")