section#galeria
	.container
		.head-section
			h2.title galeria
			p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")
			.col-xs-3: .img-item: img(src="http://lorempixel.com/200/150/")