header#portada
	.bg-video
		video(autoplay loop muted).bg-video__video
			source(src="video.mp4")
	.container
		.row
			.col-lg-6
				section.msn_portada
					h1 Bienvenido a DecoracionesGeneralesFC
					h4  
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea et, repellendus cum ad quasi fuga porro maxime aliquid. 
						| Iste tenetur modi facere, vero officiis itaque nam est maiores ipsum autem!
		
			img(src="http://foundation.zurb.com/assets/img/homepage/hero-image.svg").img_portada