section#promocion
	.container-fluid
		.row
			.col-xs-12.col-md-6.np
				article.info-serv
					h2.title Lorem ipsum dolor sit amet
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					ul
						li Nulla, quo commodi dolores neque praesentium
						li Nulla, quo commodi dolores neque praesentium
						li Nulla, quo commodi dolores neque praesentium
			.col-xs-12.col-md-6.np
				article.info-slides
					#slides
						img(src="http://lorempixel.com/900/900/")
						img(src="http://lorempixel.com/900/900/")
						img(src="http://lorempixel.com/900/900/")