section#promocion
	.container-fluid
		.row
			.col-xs-6.np
				article.info-serv
					h2.title Lorem ipsum dolor sit amet
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					ul
						li Nulla, quo commodi dolores neque praesentium
						li Nulla, quo commodi dolores neque praesentium
						li Nulla, quo commodi dolores neque praesentium
			.col-xs-6.np
				article.info-bg
					#promo.carouselw
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam consectetur dicta sit voluptatibus fuga odit nulla, placeat aliquam, odio beatae quas quis provident deleniti id. Excepturi accusamus, reiciendis minus.