section#servicios
	.container
		.head-section
			h2.title servicios
			p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			//-Servicio1
			.col-lg-3
				article.servicio
					.img-item: img(src="http://lorempixel.com/150/150")
					h3 decoraciones
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					a.btn.btn-primary(href='#', role='button') ver m치s				
			
			//-Servicio2
			.col-lg-3
				article.servicio
					.img-item: img(src="http://lorempixel.com/150/150")
					h3 animaciones
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					a.btn.btn-primary(href='#', role='button') ver m치s			

			//-Servicio3
			.col-lg-3
				article.servicio
					.img-item: img(src="http://lorempixel.com/150/150")
					h3 fiestas
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					a.btn.btn-primary(href='#', role='button') ver m치s			
			
			//-Servicio4
			.col-lg-3
				article.servicio
					.img-item: img(src="http://lorempixel.com/150/150")
					h3 eventos
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
					a.btn.btn-primary(href='#', role='button') ver m치s		
