section#servicios
	.container
		.head-section
			h2.title servicios
			p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.row
			.col-lg-3
				article.servicio
					i.glyphicon.glyphicon-flash
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
			.col-lg-3
				article.servicio
					i.glyphicon.glyphicon-flash
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
			.col-lg-3
				article.servicio
					i.glyphicon.glyphicon-flash
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
			.col-lg-3
				article.servicio
					i.glyphicon.glyphicon-flash
					h3 Lorem ipsum dolor
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias

section#servicios2
	article.info-serv
		h2.title Lorem ipsum dolor sit amet
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, quo commodi dolores neque praesentium facere molestias
		ul
			li Nulla, quo commodi dolores neque praesentium
			li Nulla, quo commodi dolores neque praesentium
			li Nulla, quo commodi dolores neque praesentium
	article.info-bg