@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:700");
@import '/stylus/_variables'
@import '/stylus/_secciones'
@import '/stylus/_tablaprecios'
@import '/stylus/_repeat'
@import '/stylus/_header'