@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:700");
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #fff;
  padding-top: 50px;
  background-color: #212121;
}
section#servicios,
section#galeria,
section#contacto {
  padding-top: 70px;
  padding-bottom: 70px;
}
section .head-section {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
section .head-section:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  height: 2px;
  background: #880e4f;
}
.btn-primary {
  background-color: #880e4f;
  border-color: #5f0a37;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #6d0b3f;
  border-color: #52082f;
}
.np {
  padding: 0;
}
.navbar-default {
  background-color: #880e4f;
  border-color: #5f0a37;
}
.navbar-default .navbar-brand {
  color: #fcdeee;
  font-family: Righteous;
}
.navbar-default .navbar-brand:hover {
  color: #f8bedd;
}
.navbar-default .navbar-nav >li>a {
  color: #fcdeee;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-default .navbar-nav >li>a:hover,
.navbar-default .navbar-nav >li>a:focus {
  color: #f8bedd;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu >li>a {
    color: #fcdeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu >li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu >li>a:focus {
    color: #f8bedd;
  }
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #fcdeee;
  background-color: #5f0a37;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fcdeee;
}
.navbar-default .navbar-collapse {
  border-color: #5f0a37;
}
.navbar-default .dropdown-menu {
  border: 1px solid #5f0a37;
  background-color: #880e4f;
}
.navbar-default .dropdown-menu >li>a {
  color: #fcdeee;
}
.navbar-default .dropdown-menu >li>a:hover {
  background-color: #5f0a37;
}
#portada {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
#portada .bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#portada .bg-video:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
#portada .bg-video video {
  position: absolute;
  width: 100%;
}
#portada .msn_portada,
#portada .img_portada {
  margin-top: 10px;
  margin-bottom: 10px;
}
#portada .msn_portada {
  padding: 30px;
  background: rgba(136,14,79,0.7);
}
#portada .img_portada {
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 500px;
  height: 500px;
}
section .servicio {
  position: relative;
  text-align: center;
}
section .servicio .img-item {
  position: relative;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 50% 0 50% 0;
  margin: 0 auto;
  border: solid 3px #880e4f;
  z-index: 10;
}
section .servicio .img-item img {
  width: 100%;
  display: block;
  transition: all 0.3s;
  z-index: 1;
}
section .servicio .img-item img:hover {
  transform: scale(1.3) rotate(-10deg);
  -webkit-filter: brightness(1.3) contrast(1.2) grayscale(0) hue-rotate(0deg) invert(0.1) saturate(1.8) sepia(0);
}
section .servicio h3 {
  text-transform: uppercase;
}
#promocion {
  position: relative;
  overflow: hidden;
}
#promocion .info-serv {
  padding: 50px;
  text-align: justify;
  background: #880e4f;
}
#promocion .info-serv .title {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#promocion .info-serv .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 200px;
  height: 2px;
  background: #ee5caa;
}
#promocion .info-serv p {
  margin: 20px 0 30px;
  line-height: 2;
}
#promocion .info-serv ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#promocion .info-serv ul li {
  font-size: 18px;
  margin: 10px 0 20px;
  padding-left: 1em;
}
#promocion .info-serv ul li:before {
  content: "♣   ";
  color: #ee5caa;
}
#promocion .info-slides {
  position: relative;
  height: 19px;
}
#galeria .img-item {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border: solid 3px #880e4f;
  margin-bottom: 30px;
  z-index: 10;
}
#galeria .img-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
}
#galeria .img-item img:hover {
  transform: scale(1.3) rotate(-10deg);
  -webkit-filter: brightness(1.3) contrast(1.2) grayscale(0) hue-rotate(0deg) invert(0.1) saturate(1.8) sepia(0);
}
#contacto {
  color: #000;
  background: #fff;
  background-size: cover;
}
.contacto li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
}
.contacto li span {
  margin-right: 5px;
}
#banner {
  position: relative;
  padding: 64px 0 0;
  background-color: #880e4f;
  background-image: url("../images/fondobanner.png");
  text-transform: capitalize;
}
#banner .__title {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  font-weight: 700;
  margin: 0;
}
#banner .breadcrumb {
  background: none;
}
#banner .breadcrumb a {
  color: #f8bedd;
}
#menu-lateral {
  padding-top: 20px;
  color: #000;
}
