section#menu-lateral
	#accordion.panel-group(role="tablist" aria-multiselectable="true")
		
		//-tab 1
		.panel.panel-default
			.panel-heading(role="tab" id="menu1")
				h4.panel-title
					a(href="#collapse1" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| Decoraciones			
			#collapse1.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu1")
				ul.list-group
					li.list-group-item Adornos
					li.list-group-item Arreglos florales
					li.list-group-item Carros alegóricos
					li.list-group-item Carros alegóricos
					li.list-group-item Globoflexia
					li.list-group-item Manualidades
					li.list-group-item Recordatorios
					li.list-group-item Topiarios
					li.list-group-item Trabajos en hielo seco

		//-tab 2
		.panel.panel-default
			.panel-heading(role="tab" id="menu2")
				h4.panel-title
					a(href="#collapse2" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| Eventos y fiestas		
			#collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu2")
				ul.list-group
					li.list-group-item Alquiler de manteles
					li.list-group-item Alquiler de mesas y sillas
					li.list-group-item Aniversarios
					li.list-group-item Azafatas
					li.list-group-item Bautizos
					li.list-group-item Bodas
					li.list-group-item Cartering
					li.list-group-item Eventos corporativos
					li.list-group-item Fiestas de fin de año
					li.list-group-item Primera comunión y confirmación
					li.list-group-item Quince años
					li.list-group-item Saloneros
					li.list-group-item Seminarios

		//-tab 3
		.panel.panel-default
			.panel-heading(role="tab" id="menu3")
				h4.panel-title
					a(href="#collapse3" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| Animaciones y presentaciones	
			#collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu3")
				ul.list-group
					li.list-group-item Coreografías
					li.list-group-item Discoteca
					li.list-group-item DJ
					li.list-group-item Moderadores
					li.list-group-item Personajes
					li.list-group-item Pinta caritas
					li.list-group-item Presentaciones folclóricas
					li.list-group-item Show de payasos
					li.list-group-item Show en general
					li.list-group-item Vestuarios	

		//-tab 4
		.panel.panel-default
			.panel-heading(role="tab" id="menu4")
				h4.panel-title
					a(href="#collapse4" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| Diseño gráfico				
			#collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu4")
				ul.list-group
					li.list-group-item Afiches
					li.list-group-item Artes en general
					li.list-group-item Banners
					li.list-group-item Diseño digital
					li.list-group-item Fotografías
					li.list-group-item Logos
					li.list-group-item Pintura
					li.list-group-item Sellos de goma
					li.list-group-item Tarjetas de cumpleaños
					li.list-group-item Tarjetas de presentación
					li.list-group-item Volantes
