section#menu-lateral
	#accordion.panel-group(role="tablist" aria-multiselectable="true")
		
		//-tab 1
		.panel.panel-default
			.panel-heading(role="tab" id="menu1")
				h4.panel-title
					a(href="#collapse1" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| secvicio #1				
			#collapse1.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu1")
				.list-group
					li.list-group-item item 1
					li.list-group-item item 2
					li.list-group-item item 3

		//-tab 2
		.panel.panel-default
			.panel-heading(role="tab" id="menu2")
				h4.panel-title
					a(href="#collapse2" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| secvicio #2				
			#collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu2")
				.list-group
					li.list-group-item item 1
					li.list-group-item item 2
					li.list-group-item item 3

		//-tab 3
		.panel.panel-default
			.panel-heading(role="tab" id="menu3")
				h4.panel-title
					a(href="#collapse3" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true") 
						| secvicio #3				
			#collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="menu3")
				.list-group
					li.list-group-item item 1
					li.list-group-item item 2
					li.list-group-item item 3

